@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Fh_Allisa", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top right, rgb(145, 212, 28), rgb(54 83 20));
}
